*.iml
.gradle/
local.properties
**/.idea/workspace.xml
**/.idea/dictionaries
**/.idea/tasks.xml
**/.idea/libraries
**/.idea/gradle.xml
.DS_Store
build/
captures/
.vs/
.vscode/
bin/
obj/
*.csproj.user
*.userprefs
xcuserdata/
sharpie-build/
*.cache
*.ipch
*.sdf
project.lock.json
/node_modules
*.VC.*db
